body {
    background-color: #021526;
    font-family: "Josefin Sans", sans-serif;
    color: whitesmoke;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.textos {
    width: 40vw;
    font-size: 33px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.textos .traco {
    display: flex;
    border-bottom: #ffffff solid;
    width: 30vw;
}

.textos h1 {
    font-size: 90px;
}

.voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}


.campos {
    height: fit-content;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.campos button {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: #021526;
    height: 40px;
    width: 120px;
    border-radius: 16px;
    border: none;
    transition: 1s;
}

.campos button:hover {
    cursor: pointer;
    transition: 1s;
    border: 2px solid #ffffff;
    border-radius: 16px;
    background-color: #021526;
    color: #ffffff;
}


.campos .possui {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    width: 100%;
    font-size: 18px;
}

.campos .input {
    align-items: center;
}

.senhas {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;

    .olho {
        width: 2vw;
        height: 35px;
        background-color: #ffffff;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: solid white 1px;
    }

    img {
        margin-right: 5px;
        width: 80%;
    }

    .input {
        width: 38vw;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

a {
    text-decoration: none;
    color: white;
}

.inp p {
    padding-left: 15px;
}

.input {
    border-radius: 16px;
    border: none;
    height: 35px;
    width: 40vw;
    font-size: 18px;
    padding-left: 15px;
    outline: none;
}

.input::placeholder {
    color: red;
}

.possui {
    display: flex;
    padding-left: 15px;
}


#imagem {
    width: 15vw;
    margin-bottom: 50px;
}

/* RESPONSIVIDADE */

/* para celulares com o tamanho na média*/
@media only screen and (max-device-width: 600px) {

    body {
        overflow-x: none;
        overflow-y: none;
    }

    .container {
        margin-top: 10vh;
        width: 100%;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textos .traco {
        display: none;
    }

    .textos {
        width: 320px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    /* .voltar {
        display: none;
    } */

    .textos h1 {
        display: none;
        /* font-size: 80px; */
    }

    .textos p {
        display: none;
        /* width: 100%; */
    }

    .inp {
        text-align: center;
        font-size: 17px;
    }

    .input {
        width: 300px;
        height: 15px;
    }

    #imagem {
        display: block;
        width: 25vw;
    }

    .campos {
        /* margin-top: 45px; */
        width: 320px;
        height: 100vh;
    }

    .campos .possui {
        text-align: center;
        width: 81%;
    }

    input {
        font-size: 13px;
    }

    .senhas {
        .olho {
            width: 7vw;
            height: 15px;
            background-color: #ffffff;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: solid white 1px;
        }

        img {
            margin-right: 5px;
            width: 80%;
        }

        .input {
            width: 70vw;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

#butao {
    width: 120px;
    height: 40px;
}

/* para celulares menores que a média*/
@media only screen and (max-device-height: 667px) and (max-device-width: 600px) {

    body {
        overflow-x: none;
        overflow-y: none;
    }

    .container {
        margin-top: 5vh;
        width: 100%;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textos .traco {
        display: none;
    }

    .textos {
        width: 320px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .textos h1 {
        display: none;
    }

    .textos p {
        display: none;
    }

    .inp {
        text-align: center;
        font-size: 15px;
    }

    .input {
        width: 300px;
        height: 25px;
    }

    #imagem {
        margin: 0;
        margin-top: 50px;
        display: block;
        width: 25vw;
    }

    .campos {
        width: 320px;
        height: 100vh;
    }

    .campos .possui {
        text-align: center;
        width: 81%;
    }

    input {
        font-size: 13px;
    }

}

#butao {
    width: 120px;
    height: 40px;
}