@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(180deg, rgba(73, 104, 141, 0.61) 49.5%, rgba(2, 21, 38, 0.01) 87.5%), linear-gradient(0deg, #021526 0%, #021526 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #49688D;
    font-family: 'Josefin Sans', sans-serif;
}

.principalContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.containerNav {
    display: flex;
    padding-right: 5px;
    margin-right: 25px;
}

.navLeft {
    width: 125px;
    background-color: #030F1A;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.icon-logo {
    width: 90px;
    height: 56px;
}

.icon-graphic {
    width: 40px;
    height: 37px;
}

.icon-support {
    width: 40px;
    height: 40px;
}

.icon-add-user {
    width: 40px;
    height: 37px;
}

.icon-logout {
    width: 40px;
    height: 41px;
    margin-left: 10px;
}


.container-logo {
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
    border-radius: 15px;
}

.container-graphic {
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #49688D;
    align-items: center;
    border-radius: 15px;
}

.container-graphic:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
    border-radius: 15px;
}

.container-support {
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-support:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
    border-radius: 15px;
}

.container-add-user {
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-add-user:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
    border-radius: 15px;
}

.container-logout {
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logout:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
    border-radius: 15px;
}

.welcome {
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    font-size: 30px;
    width: 300px;
    margin-bottom: 20px;
}

#bem_vindo {
    color: rgba(192, 192, 192, 1);
}

.all-indicators {
    display: flex;
    margin: left;
    flex-direction: column;
}

.chartsContainer {
    display: flex;
    flex-direction: row;
}

.charts1Container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.kpiContainer {
    display: flex;
    flex-direction: line;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.kpi {
    display: flex;
    width: 185px;
    height: 128px;
    background-color: #FFF;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.kpi h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.chart1 {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 818px;
    height: 440px;
    border-radius: 15px;
}

.chart2 {
    background-color: white;
    width: 500px;
    height: 580px;
    border-radius: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.graphic-size1 {
    width: 714px;
    height: 400px;
}

.graphicSize2 {
    width: 300px;
    height: 270px;
    margin-top: 40px;
    margin-left: 23%;
}

.graphicSize3 {
    width: 300px;
    height: 270px;
    margin-top: 40px;
    margin-left: 23%;
    display: none;
}

.graphicSize4 {
    width: 300px;
    height: 270px;
    margin-top: 40px;
    margin-left: 23%;
    display: none;
}



#h1BodyCamera {
    color: #ffa600;
}

#h1MentalDisorders {
    color: #ff0000;
}

.inline-row {
    display: flex;
    flex-direction: row;
}

.location {
    display: flex;
    margin-left: 70.8%;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    font-size: 22px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.icon-location {
    margin-top: 4px;
    width: 40px;
    height: 40px;
}

.city {
    margin-top: 14px;
}

.charts2Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


label {
    display: flex;
    align-items: center;
    justify-content: center;
}


.radio-span {
    font-weight: bold;
}

.custom-radio {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
   
}

.custom-radio:checked {
    background-color: #000;
    
}

.radio-span {
    margin-left: 5px;
   
}