@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(180deg, rgba(73, 104, 141, 0.61) 49.5%, rgba(2, 21, 38, 0.01) 87.5%), linear-gradient(0deg, #021526 0%, #021526 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #49688D;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

.containerNav {
    display: flex;
    padding-right: 5px;
    margin-right: 25px;
}

.navLeft {
    width: 115px;
    background-color: #030F1A;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
}

.title-page{
    color: #FFF;
    font-size: 40px;
    font-weight: bold; 
    margin-top: 20px; 
    margin-bottom: 5px;
}

.icon-logo {
    width: 85px;
    height: 56px;
}

.icon-graphic {
    width: 40px;
    height: 37px;
}

.icon-support {
    width: 40px;
    height: 40px;
}

.icon-add-user {
    width: 40px;
    height: 37px;
}

.icon-logout {
    width: 40px;
    height: 41px;
    margin-left: 10px;
}

.icon-personal-datas{
    width: 50px;
    height: 47px;
}

.container-logo {
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-graphic {
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #49688D;
    align-items: center;
}

.container-graphic:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
}

.container-support {
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-support:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
   
}

.container-add-user {
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-add-user:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
   
}

.container-logout {
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logout:hover {
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
}

.container-personal-datas{
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-personal-datas:hover{
    cursor: pointer;
    display: flex;
    background-color: #49688D;
    justify-content: center;
}

.armed-victims{
    margin-top: 35px;
    text-align: center;
}

.ethnicity-victims{
    margin-top: 35px;
    text-align: center;
}

.escape-victims{
    margin-top: 35px;
    text-align: center; 
}

.armed-victims, .ethnicity-victims, .escape-victims {
    flex: 1; 
    box-sizing: border-box; 
}

.line-vertical {
    width: 2px; 
    background-color: black; 
    margin-top: 35px;
    height: 330px; 
}

.monthly-victims{
   text-align: center;
}

.welcome {
display: flex;
color: #FFF;
justify-content: end;
font-size: 25px;
font-weight: bold;
margin-right: 10px;
margin-bottom: 15px;
}

#bem_vindo {
    color: rgba(192, 192, 192, 1);
}

.all-indicators {
    display: flex;
    flex-direction: column;
}

.chartsContainer {
    display: flex;
    flex-direction: row;
}

.charts1Container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.kpiContainer {
    display: flex;
    flex-direction: line;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.kpi {
    display: flex;
    width: 185px;
    height: 128px;
    background-color: #FFF;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.kpi h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.chart1 {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 818px;
    height: 405px;
    border-radius: 15px;
    align-items: stretch;
    min-height: 300px;
    
}

.chart2 {
    background-color: white;
    width: 500px;
    height: 545px;
    border-radius: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.graphic-size4{
    width: 1014px;
    height: 250px;
}

.graphicSize1 {
    width: 260px;
    height: 230px;
    margin-top: 40px;    
    margin-left: 5%;
}

.graphicSize2 {
    width: 260px;
    height: 230px;
    margin-top: 40px;    
    margin-left: 5%;
}

.graphicSize3 {
    width: 260px;
    height: 230px;
    margin-top: 40px;    
    margin-left: 5%;
}

#h1BodyCamera {
    color: #ffa600;
}


#h1MentalDisorders {
    color: #ff0000;
}

.inline-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.city{
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    margin-left: 65%;
    margin-top: 37px;
    height: 22px;
}

.icon-location {
    margin-top: 25px;
    width: 40px;
    height: 40px;
}

.charts2Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


label {
    display: flex;
    align-items: center;
    justify-content: center;
}


.radio-span {
    font-weight: bold;
}

.custom-radio {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.custom-radio:checked {
    background-color: #000;
}

.radio-span {
    margin-left: 5px;
}