* {
    font-family: "Josefin Sans", sans-serif;
    color: #FFF;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(180deg, rgba(73, 104, 141, 0.61) 49.5%, rgba(2, 21, 38, 0.01) 87.5%), linear-gradient(0deg, #021526 0%, #021526 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #49688D;
}

.principalContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;

    h1 {
        font-size: 55px;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
        width: 85%;
        text-align: justify;
    }

    label {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    select {
        outline: none;
        border: none;
        color: #FFF;
        background: transparent;
        border-bottom: solid #A9A9A9 1px;
        border-right: solid #A9A9A9 1px;
        width: 81%;
        height: 25px;
        font-size: 18px;

        option {
            outline: none;
            color: #000;
        }
    }

    textarea {
        background-color: transparent;
        color: #FFF;
        transition: 0.7s;
        outline: none;
        border: solid #A9A9A9 1px;
        border-radius: 10px;
        width: 75%;
        padding: 3%;
        min-width: 75%;
        min-height: 200px;
        max-width: 90%;
        max-height: 250px;
        font-size: 18px;
    }

    textarea::placeholder {
        color: #A9A9A9;
    }

    textarea:focus {
        border: none;
        color: #000;
        background-color: rgba(255, 255, 255, 0.9);
    }

    button {
        cursor: pointer;
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 15px;
        height: 50px;
        font-size: 18px;
        width: 180px;
        margin-top: 30px;
        background: linear-gradient(270deg, transparent 50%, white 50%);
        background-size: 200% 100%;
        background-position: right;
        transition: background-position 0.4s ease;
    }

    button:hover {
        background-position: left;
        color: #021526;
    }
}

.chamados {
    width: 40%;
    border: 1px solid #fff;
    border-radius: 20px;
    height: 70%;
    margin-top: 130px;
    padding: 30px;
    padding-left: 70px;
    margin-left: 50px;
}

.chamados .linha {
    height: 1px;
    background-color: #fff;
    width: 90%;
    margin-top: -20px;
    margin-bottom: 20px;
}

.dados_chamado {
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    border-radius: 15px;
    height: 30px;
    padding: 7px;
    width: 90%;
    margin-top: 5px;
    padding-left: 25px;
}

.chamados .dados_chamado .linha_curta {
    width: 1px;
    height: 20px;
    background-color: #FFF;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: -2px;
}

.chamados_encerrados {
    margin-top: 100px;
}

.numero {
    margin-right: 15px;
}