body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    background-image: url(../Assets/banner.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeira_tela {
    padding-top: 30px;
    padding-inline: 5%;
    font-size: 1rem;
    text-align: center;
}

.primeira_tela h1 {
    font-size: 2rem;
}

.primeira_tela p {
    font-size: 1.25rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    background-color: #6EACDA;
    width: 90%;
    max-width: 300px;
    height: 400px;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.cards img {
    max-width: 100%;
    border-radius: 15px;
}

.sub {
    font-size: 1.5rem;
    margin: 15px 0;
}

.cards p {
    font-size: 1rem;
}

.segunda_tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 50px 5%;
    background-color: #03346E;
    color: #FFF;
    text-align: center;
}

#texto_grande {
    font-size: 2rem;
    margin-bottom: 20px;
}

#paragrafo {
    font-size: 1.25rem;
}

.rodape {
    background-color: #021526;
    color: #FFF;
    padding: 30px 5%;
    text-align: center;
}

.container_informacoes {
    max-width: 400px;
    margin: 0 auto;
    font-size: 1rem;
}

.container_informacoes h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container_informacoes p {
    font-size: 1rem;
    margin: 10px 0;
}

/* Media Queries para diferentes tamanhos de tela */

@media (min-width: 600px) {
    .primeira_tela p {
        font-size: 1.5rem;
    }

    .cards {
        width: calc(50% - 40px); /* 2 cards por linha */
    }

    .segunda_tela {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    #texto_grande {
        font-size: 3rem;
        width: 55%;
    }

    #paragrafo {
        width: 40%;
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .primeira_tela h1 {
        font-size: 3rem;
    }

    .primeira_tela p {
        font-size: 1.75rem;
    }

    .cards {
        width: calc(33.33% - 40px); /* 3 cards por linha */
    }

    #texto_grande {
        font-size: 4rem;
    }

    #paragrafo {
        font-size: 1.75rem;
    }

    .container_informacoes {
        font-size: 1.25rem;
    }

    .container_informacoes h1 {
        font-size: 2.5rem;
    }
}
