body{
    background-color: #6EACDA;
    font-family: "Josefin Sans", sans-serif;
    color: whitesmoke;
    background-image: url(../Assets/bolinhas\ do\ fundo.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    
}


.container{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.textos {
    width: 40vw;
    color: #021526;
    font-size: 33px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.textos .traco{
    display: flex;
    border-bottom: #021526 solid;
    width: 32vw;
}

.textos .imagem{
    display: flex;
    justify-content: flex-end;
}

.titulo{
    font-size: 40px;
    display: flex;
    text-align: end;
}

.voltar {
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 10; 
}

.campos {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    /* align-items: center;/ */
}


.campos button{
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    color: #021526;
    height: 40px;
    width: 120px;
    border-radius: 16px;
    border: none;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    border: 2px solid #021526;
}   

.campos button:hover{
    cursor: pointer;
    transition: 1s;
    border: 2px solid #ffffff;
    border-radius: 16px;
    background-color: #021526;
    color: #ffffff;
}

.campos .possui{
    display: flex;
    text-align: start;
    justify-content: flex-start;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.input{
    border-radius: 16px;
    border: none;
    height: 40px;
    width: 30vw;
}

.possui{
    display: flex;
}

#img {
    width: 15vw;
}

/* RESPONSIVIDADE */

@media only screen and (max-device-width: 425px) {

    body{
        overflow: auto;
        overflow-x: block;
        /* background-repeat: round; */
        background-position: 30%;
    }
    
    .container { 
        width: 100%; 
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .textos {
        color: white;
        width: 320px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .textos p{
        display: none;
    }

    .textos h1{
        display: none;
        /* color: #021526; */
    }

    .titulo{
        font-size: 42px;
        text-align: center;
    }

    .textos .traco{
        display: none;
        width: 70vw;
    }

    #img{
        width: 25vw;
    }

    input{
        font-size: 20px;
    }
    
    .campos {
        width: 320px;
        font-size: 25px;
    }
    
    .campos .possui{
        text-align: center;
        width: 105%;
        font-size: 20px;
    }
    
    .inp{
        text-align: center;
    }

    .input{
        width: 300px;
    }
    
    /* .voltar {
        display: none;
    }  */

}